body {
    background-color: #23272a ;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 80px;
}
h2 {
    margin-top: 100px;
}
h2 {
    margin-top: 69px;
    font-size: 30px;
}

.code {
    width: 300px;
    height: auto;
}

a {
    color:cornsilk;
}
.container {
    font-style: italic;
    font-size: 30px;
    margin: 0 auto;
    max-width: 800px;
}
.header {
    width: 100%;
    background-image: url(bk.jpeg);
    background-size: cover;
    padding: 100px 50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation li {
    display: inline;
}


.header h1 {
    margin-top: 0;
}
.front {
    width: 100%;
    background-image: url(bk.jpeg);
    padding: 80px 60px;
}

button {
    size: 50px;
    
}