body {
    background-color: #23272a ;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 80px;
}
h2 {
    margin-top: 100px;
}
h2 {
    margin-top: 69px;
    font-size: 30px;
}

.code {
    width: 300px;
    height: auto;
}

a {
    color:white;
}
.container {
    font-style: italic;
    font-size: 30px;
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    width: 100%;

}

body {
    background-image: url(ewrt.jpg);
    background-size: cover;
    padding: 30px 50px;
    background-attachment: fixed;
}
.header h1 {
    margin-top: 50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation li {
    display: inline;
}
.navigation ul {
    position: fixed;
    right: 50px;
}

.navigation a {
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;

}
.navigation a:hover{
    background-color: rgba(0, 0, 0, 0.5 );
}

.container {
    padding: 100px;
    background: #282b30;
}
